[Unit]
Description=CircleCI Docker Webhook [ binds 2000 ]
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=ec2-user
ExecStart=/home/ec2-user/go/bin/CircleCI-Docker-Webhook /etc/webhook/config.hcl

[Install]
WantedBy=multi-user.target
